<div class="header">
  <span id="header-site-title-outer">
    <a href="/">
      <span id="header-site-title-prefix">{{ .Site.Params.site.title.header.textPrefix}}</span><span id="header-site-title">{{ site.Title }}</span>
      </a>
  </span>
  <div>
    <fieldset id="color-scheme-selector">
      <label for="color-scheme-selector-light" class="color-scheme-option">
        <span class="color-scheme-icon-light">○</span>
        <span class="color-scheme-icon-dark">●</span>
        <input type="radio" name="color-scheme" id="color-scheme-selector-light" value="light">
      </label>
      <span id="color-scheme-selector-separator">/</span>
      <label for="color-scheme-selector-dark" class="color-scheme-option">
        <span class="color-scheme-icon-light">●</span>
        <span class="color-scheme-icon-dark">○</span>
        <input type="radio" name="color-scheme" id="color-scheme-selector-dark" value="dark">
      </label>
    </fieldset>
    <script>
      const colorSchemeSelector = document.getElementById("color-scheme-selector");
      colorSchemeSelector.addEventListener("change", (event) => {
          localStorage.setItem("color-scheme", event.target.value);
      });
      const scheme = localStorage.getItem("color-scheme") || "auto";
      switch (scheme) {
        case "light":
          document.getElementById("color-scheme-selector-light").checked = true;
          break;
        case "dark":
          document.getElementById("color-scheme-selector-dark").checked = true;
          break;
        case "auto":
          switch (true) {
            case window.matchMedia &&
              window.matchMedia("(prefers-color-scheme: light)").matches:
              document.getElementById("color-scheme-selector-light").checked = true;
              break;
            case window.matchMedia &&
              window.matchMedia("(prefers-color-scheme: dark)").matches:
              document.getElementById("color-scheme-selector-dark").checked = true;
              break;
          }
      }
    </script>
  </div>
</div>