{{ $currentPage := . }}
{{ $pagesInSubsection := .Parent.Pages.ByWeight }}

{{ $pageIndex := -1 }}
{{ range $i, $p := $pagesInSubsection }}
    {{ if eq $p $currentPage }}
        {{ $pageIndex = $i }}
    {{ end }}
{{ end }}

{{ $prevPageExists := ge $pageIndex 1 }}
{{ $nextPageExists := lt $pageIndex (sub (len $pagesInSubsection) 1) }}

{{ if or $prevPageExists $nextPageExists }}
  <hr class="pagination-single-hr-bottom">
  <div class="pagination-single">

    <span class="pagination-single-item pagination-single-item-prev">
        {{ if $prevPageExists }}
            {{ $prevPage := index $pagesInSubsection (sub $pageIndex 1) }}
            <a href="{{ $prevPage.RelPermalink }}">
              <div class="pagination-single-item-keyword">Previous:</div>
                <div class="pagination-single-item-name">{{ $prevPage.Title | truncate 64 }}</div>
            </a>
        {{ end }}
    </span>

    <span class="pagination-single-item pagination-single-item-next">
      {{ if $nextPageExists }}
          {{ $nextPage := index $pagesInSubsection (add $pageIndex 1) }}

            <div class="pagination-single-item-keyword">Next:</div>
          <a href="{{ $nextPage.RelPermalink }}">
              <div class="pagination-single-item-name">{{ $nextPage.Title | truncate 64 }}</div>
          </a>
      {{ end }}
    </span>

  </div>
{{ end }}
