    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900');

@import "tailwindcss";

:root {
    /* Theme color definitions */
    --color-light-bg: #FFF;
    --color-light-text: #111;
    --color-light-code: #111;
    --color-light-code-bg: #DDD;
    --color-dark-bg: var(--color-neutral-900);
    --color-dark-text: var(--color-neutral-100);
    --color-dark-code: var(--color-neutral-200);
    --color-dark-code-bg: var(--color-neutral-700);

    /* Apply variables from custom utilities */
    background-color: var(--background-color);
    color: var(--text-color);
}

@utility color-scheme-light {
    --background-color: var(--color-light-bg);
    --text-color: var(--color-light-text);
    --code-background-color: var(--color-light-code-bg);

    .color-scheme-icon-light {
        display: inline;
    }

    .color-scheme-icon-dark {
        display: none;
    }

    .terms-item, main code, main pre code {
        color: var(--color-light-code);
        background-color: var(--color-light-code-bg);
    }
}

@utility color-scheme-dark {
    --background-color: var(--color-dark-bg);
    --text-color: var(--color-dark-text);
    --code-background-color: var(--color-dark-code-bg);

    .color-scheme-icon-light {
        display: none;
    }

    .color-scheme-icon-dark {
        display: inline;
    }

    .terms-item {
        color: var(--color-dark-code);
        background-color: var(--color-dark-code-bg);
    }

    .terms-item, main code {
        color: var(--color-dark-code);
        background-color: var(--color-dark-code-bg);
    }

    main pre code {
        /* For now, code highlight theme applied to pre tags
        is still light regardless of color scheme selection;
        Ensure text color not set by theme still contrasts light background. */
        color: var(--color-light-code);
    }
}

/*
Auto mode - Dark when system prefers dark.
This media query is evaluated continuously.

The html:has selectors for color scheme may not evaluate on page load.
Here we apply the system theme by default if :has selectors fail initially,
and allow the specificity of the :has selectors for (light|dark):checked to override it.

This implicitly takes effect again when the light & dark inputs are not checked,
as the :has selectors for (light|dark):checked will be false.
*/
@media (prefers-color-scheme: dark) {
    html {
        @apply color-scheme-dark;
    }
}

/*
Manual overrides take precedence due to selector specificity
*/
:root:has(#color-scheme-selector-dark:checked) {
    @apply color-scheme-dark;
}

/*
Manual overrides take precedence due to selector specificity
*/
html:has(#color-scheme-selector-light:checked) {
    @apply color-scheme-light;
}

/**/
/*Begin color scheme selector layout section */
/**/
.header {
    @apply w-full;
    @apply inline-flex;
    @apply flex-wrap;
    @apply items-center justify-between;
}

#color-scheme-selector {
    @apply inline-flex;
}

.color-scheme-option, #color-scheme-selector-separator {
    @apply p-0.5;
    @apply cursor-pointer;
}

/* Hide radio inputs but keep them accessible */
.color-scheme-option input {
    @apply sr-only;
}
/**/
/* End color scheme selector layout section */
/**/

/**/
/* Base styles */
/**/
@layer base {

    :root {
        @apply text-base;
        font-family: 'Inter', var(--font-sans);
    }

    body {
        @apply max-w-3xl;
        @apply m-auto;
        @apply px-8;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply pt-4 pb-2;

        @apply font-medium;
        font-family: 'Work Sans', var(--font-sans);

        code, pre {
            font-size: inherit;
            /* Specificity overrides later directives
            to make code/pre font smaller */
        }
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    a:hover {
        @apply underline;
    }

    p {
        @apply pt-2;
        @apply pb-1;
    }

    p, blockquote, pre {
        @apply overflow-auto;
    }

    pre {
        @apply mb-4;
        @apply p-4;
        /*@apply whitespace-pre-wrap;*/
        @apply text-sm;
    }

    code, pre {
        font-family: monospace;
        @apply text-sm;
    }

    ul {
        @apply pl-8;
        @apply pb-2;
        @apply list-disc;
    }
    ul {
        h1, h2, h3, h4, h5, h6 {
            @apply pt-2 pb-1;
        }
    }

    ol {
        @apply pl-8;
        @apply pb-2;
        @apply list-decimal;
    }
    ol ol {
        @apply list-[lower-roman];
    }

    /**/
    /* Top header section (above nav bar) */
    /**/
    header {
        @apply pt-6;

        #header-site-title-outer {
            @apply pt-4 pb-4;

            a {
                @apply no-underline;
            }

            @apply text-4xl;
            font-family: 'Work Sans', var(--font-mono);
            @apply font-semibold;
        }
        #header-site-title-prefix {
            font-family: 'Inter', var(--font-sans);
        }
    }
    /**/
    /* End top header section (above nav bar) */
    /**/

    /**/
    /* Nav bar section */
    /**/
    nav {
        @apply inline-flex;
        @apply flex-wrap;
        @apply pt-4 pb-2;
    }

    .nav-item {
        @apply inline-flex;
        @apply pr-4;
        @apply text-lg;
        font-family: 'Work Sans', var(--font-mono);
    }

    .nav-hr-bottom {
        @apply block;
        /*@apply mt-4 mb-2;*/
        @apply border-gray-300;
    }
    /**/
    /* End nav bar section */
    /**/

    /**/
    /* Breadcrumbs section */
    /**/
    .breadcrumbs {
        @apply pt-8 pb-2;
    }

    .breadcrumbs-separator, .breadcrumbs-item {
        @apply text-xs;
        font-family: 'Inter', var(--font-sans);
        @apply font-light;
    }
    /**/
    /* End breadcrumbs section */
    /**/

    .base-hr-bottom {
        @apply mt-8 mb-4;
        @apply border-gray-300;
    }

    /**/
    /* Home page header section */
    /**/
    .home-page-header {
        /*
        Home page does not have have breadcrumbs & the associated padding;
        add padding to create separation from header/nav area.
        */
        @apply pt-4;
    }
    /**/
    /* End home page header section */
    /**/

    /**/
    /* List layout section */
    /**/
    .list-page-header {
        @apply pb-4;
    }
    .list-page-header-title {
        @apply pt-4 pb-2;
    }
    .list-page-header-description {
        @apply p-0;
        @apply font-normal;
        /*@apply italic;*/
    }

    .sections-list {
        h1, h2, h3, h4, h5, h6 {
            @apply pt-2 pb-1;
        }

        .pages-list  {
            .pages-list-type-header {
                @apply pt-1 pb-0;
                @apply text-lg;
                @apply font-light;
                font-family: 'Inter', var(--font-sans);
            }

            .pages-list-item-title {
                @apply text-lg;
                @apply font-medium
            }
            .pages-list-item-description {
                @apply pt-0 pb-0;
                @apply text-sm;
                @apply font-light;
                @apply italic;
                font-family: 'Inter', var(--font-sans);
            }
        }

        ul {
            @apply pl-0;
            @apply pb-2;
            @apply list-none;
        }
        ul ul {
            @apply pl-6;
            @apply pb-2;
            @apply list-disc;
        }
    }
    .pages-list {

        h1, h2, h3, h4, h5, h6 {
            @apply pt-2 pb-1;
        }

        .pages-list-type-header {
            @apply text-xl;
            @apply font-normal;
            font-family: 'Inter', var(--font-sans);
        }

        .pages-list-item-title {
            @apply pt-0 pb-0;
            @apply text-xl;
        }

        .pages-list-item-description {
            @apply pt-0 pb-0;
            @apply text-base;
            @apply font-light;
            @apply italic;
            font-family: 'Inter', var(--font-sans);
        }

        ul {
            @apply pl-6;
            @apply pb-2;
            @apply list-disc;
        }
    }
    /**/
    /* End list layout section */
    /**/

    /**/
    /* Taxonomy (terms list) layout section */
    /**/
    .taxonomy-terms-list {
        ul {
            @apply pl-6;
            @apply pb-2;
            @apply list-disc;
        }
        .terms-list-item-title {
            @apply text-xl;
        }
    }
    /**/
    /* End taxonomy (terms list) layout section */
    /**/

    /**/
    /* Single page header section */
    /**/
    .single-page-header-description {
        @apply pt-2 pb-0;
        @apply text-xl;
        font-family: 'Inter', var(--font-sans);
        /*@apply font-semibold;*/
    }

    .single-page-header-author {
        @apply pt-2 pb-0;
        @apply text-sm;
        @apply font-semibold;
    }

    .single-page-header-date {
        @apply pt-2 pb-0;
        @apply text-sm;
    }
    .single-page-header-hr-bottom {
        @apply mt-4 mb-2;
        @apply border-gray-300;
    }

    .terms {
        @apply pt-4 pb-0;
        @apply text-sm;
    }
    .terms-item {
        /*@apply bg-gray-100; !* TODO respect color scheme *!*/
        @apply mr-2;
        @apply rounded-sm;
        /*padding: 2px;*/
        @apply px-1 py-0.5;

    }
    /**/
    /* End single page header section */
    /**/

    /**/
    /* Single page pagination section (next/prev) */
    /**/
    .pagination-single {
        @apply flex;
        @apply justify-between;

        /*@apply mt-2;*/
        @apply pt-4 pb-4;

        @apply text-xs;
        @apply font-light;
    }
    .pagination-single-item {
        @apply basis-4/10;

        white-space: nowrap;
        overflow: hidden;
        @apply text-wrap;
    }
    .pagination-single-item-prev {
        /*@apply pr-8;*/
    }
    .pagination-single-item-next {
        /*@apply pl-8;*/
    }
    .pagination-single-item-keyword {
        @apply font-semibold;
    }
    .pagination-single-item-name {
        text-overflow: ellipsis;
    }
    .pagination-single-hr-bottom {
        @apply border-gray-300;
    }
    /**/
    /* End single page pagination section (next/prev) */
    /**/

    /**/
    /* Single page content section */
    /**/
    .single-page-content {
        a {
            text-decoration: underline;
        }

        /*
        Repeat list styling with higher specificity;
        attempting to fix what appears to be a mobile Safari bug.
        */
        ol {
            @apply pl-8;
            @apply pb-2;
            @apply list-decimal;
        }
        ol ol {
            @apply list-[lower-roman];
        }
        ul {
            @apply pl-8;
            @apply pb-2;
            @apply list-disc;
        }
        @supports (-webkit-touch-callout: none) {
            /* CSS specific to iOS devices */
            ol, ul {
                -webkit-appearance: none;
            }
            ol li {
                list-style-type: decimal;
                display: list-item;
            }
            ol ol li {
                list-style-type: lower-roman;
                display: list-item;
            }
            ul li {
                list-style-type: disc;
                display: list-item;
            }
        }
    }
    /**/
    /* End single page content section */
    /**/


}
/**/
/* End base styles */
/**/
