@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@import "tailwindcss";

:root {
    /* Theme color definitions */
    --color-light-bg: #FFF;
    --color-light-text: #111;
    --color-light-code: #111;
    --color-light-code-bg: #DDD;
    --color-dark-bg: #111;
    --color-dark-text: #FFF;
    --color-dark-code: #FFF;
    --color-dark-code-bg: #333;

    /* Apply variables from custom utilities */
    background-color: var(--background-color);
    color: var(--text-color);
}

@utility color-scheme-light {
    --background-color: var(--color-light-bg);
    --text-color: var(--color-light-text);
    --code-background-color: var(--color-light-code-bg);

    .color-scheme-icon-light {
        display: inline;
    }

    .color-scheme-icon-dark {
        display: none;
    }

    main code, main pre code {
        color: var(--color-light-code);
        background-color: var(--color-light-code-bg);
    }
}

@utility color-scheme-dark {
    --background-color: var(--color-dark-bg);
    --text-color: var(--color-dark-text);
    --code-background-color: var(--color-dark-code-bg);

    .color-scheme-icon-light {
        display: none;
    }

    .color-scheme-icon-dark {
        display: inline;
    }

    main code {
        color: var(--color-dark-code);
        background-color: var(--color-dark-code-bg);
    }

    main pre code {
        /* For now, code highlight theme applied to pre tags
        is still light regardless of color scheme selection;
        Ensure text color not set by theme still contrasts light background. */
        color: var(--color-light-code);
    }
}

/*
Auto mode - Dark when system prefers dark.
This media query is evaluated continuously.

The html:has selectors for color scheme may not evaluate on page load.
Here we apply the system theme by default if :has selectors fail initially,
and allow the specificity of the :has selectors for (light|dark):checked to override it.

This implicitly takes effect again when the light & dark inputs are not checked,
as the :has selectors for (light|dark):checked will be false.
*/
@media (prefers-color-scheme: dark) {
    html {
        @apply color-scheme-dark;
    }
}

/*
Manual overrides take precedence due to selector specificity
*/
:root:has(#color-scheme-selector-dark:checked) {
    @apply color-scheme-dark;
}

/*
Manual overrides take precedence due to selector specificity
*/
html:has(#color-scheme-selector-light:checked) {
    @apply color-scheme-light;
}

/**/
/*Begin color scheme selector layout section */
/**/
.header {
    @apply w-full;
    @apply inline-flex;
    @apply flex-wrap;
    @apply items-center justify-between;
}

#color-scheme-selector {
    @apply inline-flex;
}

.color-scheme-option, #color-scheme-selector-separator {
    @apply p-0.5;
    @apply cursor-pointer;
}

/* Hide radio inputs but keep them accessible */
.color-scheme-option input {
    @apply sr-only;
}
/**/
/* End color scheme selector layout section */
/**/

/**/
/* Base styles */
/**/
@layer base {

    body {
        @apply max-w-3xl;
        @apply m-auto;
        @apply px-8;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply pt-4;
        @apply pb-2;
        font-family: 'Inter', var(--font-sans);
        @apply font-semibold;

        code, pre {
            font-size: inherit;
            /* Specificity overrides later directives
            to make code/pre font smaller */
        }
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    a:hover {
        @apply underline;
    }

    p {
        @apply pt-2;
        @apply pb-1;
    }

    p, blockquote, pre {
        @apply overflow-auto;
    }

    pre {
        @apply mb-4;
        @apply p-4;
        /*@apply whitespace-pre-wrap;*/
        @apply text-sm;
    }

    code, pre {
        font-family: monospace;
        @apply text-sm;
    }

    ul {
        @apply pl-8;
        @apply pb-2;
        @apply list-disc;
    }
    ul {
        h1, h2, h3, h4, h5, h6 {
            @apply pt-2 pb-1;
        }
    }

    ol {
        @apply pl-8;
        @apply pb-2;
        @apply list-decimal;
    }
    ol ol {
        @apply list-[lower-roman];
    }

    /**/
    /* Top header section (above nav bar) */
    /**/
    header {
        @apply pt-4;

        #header-site-title {
            @apply pt-4 pb-4;
            @apply text-4xl;
            font-family: 'Inter', var(--font-sans);
            @apply font-bold;
        }
    }
    /**/
    /* End top header section (above nav bar) */
    /**/

    /**/
    /* Nav bar section */
    /**/
    nav {
        @apply inline-flex;
        @apply flex-wrap;
        @apply pt-4 pb-2;
    }

    .nav-item {
        @apply inline-flex;
        @apply pr-4;
    }

    .nav-hr-bottom {
        @apply block;
        /*@apply mt-4 mb-2;*/
        @apply border-gray-400;
    }
    /**/
    /* End nav bar section */
    /**/

    /**/
    /* Breadcrumbs section */
    /**/
    .breadcrumbs {
        @apply pt-8 pb-2;
    }

    .breadcrumbs-separator, .breadcrumbs-item {
        @apply text-sm;
        font-family: 'Inter', var(--font-sans);
        @apply font-light;
    }
    /**/
    /* End breadcrumbs section */
    /**/

    /**/
    /* Home page header section */
    /**/
    .home-page-header {
        /*
        Home page does not have have breadcrumbs & the associated padding;
        add padding to create separation from header/nav area.
        */
        @apply pt-4;
    }
    /**/
    /* End home page header section */
    /**/

    /**/
    /* List page layout section */
    /**/
    .sections-list {
        ul {
            @apply pl-4;
            @apply pb-2;
            @apply list-none;
        }
        ul ul {
            @apply pl-8;
            @apply pb-2;
            @apply list-disc;
        }
    }
    .pages-list {
        ul {
            @apply pl-4;
            @apply pb-2;
            @apply list-disc;
        }
        ul ul {
            @apply pl-8;
            @apply pb-2;
            @apply list-disc;
        }
    }
    .page-header-simple-description {
        @apply p-0;
        @apply font-normal;
        @apply italic;
    }
    /**/
    /* End page layout section */
    /**/

    /**/
    /* Single page header section */
    /**/
    .page-description {
        @apply pt-4 pb-2;
        @apply text-2xl;
        font-family: 'Inter', var(--font-sans);
        @apply font-semibold;
    }

    .page-header-author {
        @apply pt-1 pb-0;
        @apply text-sm;
        @apply font-semibold;
    }

    .page-header-date {
        @apply pt-1 pb-0;
        @apply text-sm;
    }
    .page-header-hr-bottom {
        @apply mt-4 mb-2;
        @apply border-gray-400;
    }

    .terms {
        @apply pt-2 pb-1;
        @apply text-sm;
    }
    .terms-item {
        /*@apply bg-gray-100; TODO respect color scheme*/
        @apply p-1;
    }
    /**/
    /* End single page header section */
    /**/

    /**/
    /* Single page pagination section (next/prev) */
    /**/
    .pagination-single {
        @apply flex;
        @apply justify-between;

        /*@apply mt-2;*/
        @apply pt-4 pb-4;

        @apply text-xs;
        @apply font-light;
    }
    .pagination-single-item {
        @apply basis-4/10;

        white-space: nowrap;
        overflow: hidden;
        @apply text-wrap;
    }
    .pagination-single-item-prev {
        /*@apply pr-8;*/
    }
    .pagination-single-item-next {
        /*@apply pl-8;*/
    }
    .pagination-single-item-keyword {
        @apply font-semibold;
    }
    .pagination-single-item-name {
        text-overflow: ellipsis;
    }
    .pagination-single-hr-bottom {
        @apply border-gray-400;
    }
    /**/
    /* End single page pagination section (next/prev) */
    /**/

    /**/
    /* Single page content section */
    /**/
    /*.page-content {*/
    /*    @apply pt-4;*/
    /*}*/
    /*.page-content-hr-bottom {*/
    /*    @apply mt-4 mb-2;*/
    /*    @apply border-gray-400;*/
    /*}*/
    /**/
    /* End single page content section */
    /**/


}
/**/
/* End base styles */
/**/
