{{ define "main" }}

  <div class="home-page-header">
    {{ partial "list-page-header.html" (dict
        "page" .
        "titleOverride" "Welcome to ScratchBuffer"
        "titleElement" "h1"
      )
    }}
  </div>

  {{- if .Content }}
    <div class="page-content home-content">
    {{ .Content }}
    </div>
    <hr class="main-hr-bottom">
  {{- end }}

  {{
    partial "featured.html" (dict
      "pageList" .Site.RegularPages
      "filterRelPermalinks" .Site.Params.site.featuredPages
    )
  }}

{{ end }}
