{{ define "main" }}

    {{ partial "breadcrumbs.html" (dict "page" .) }}

    <div class="page-header">
      <h1>{{ .Title }}</h1>

      <div class="page-description">
      <span >{{ .Description | markdownify }}</span>
      </div>

{{/*      <p class="page-header-author">{{ .Site.Params.site.author.name  }}</p>*/}}
      <div class="page-header-date">
      Published
          {{ $dateMachine := .Date | time.Format "2006-01-02" }}
{{/*          {{ $dateHuman := .Date | time.Format ":date_long" }}*/}}
{{/*          <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>*/}}
        <span>
        <time datetime="{{ $dateMachine }}">{{ .Page.Date.Format "2006-01-02" }}</time> &#183;
        <time datetime="{{ $dateMachine }}">Updated {{ .Page.Lastmod.Format "2006-01-02" }}</time>
          </span>
      </div>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{/*      <hr class="page-header-hr-bottom">*/}}
    </div>

    <div class="page-header-divider-bottom">
      ---
    </div>

    <div class="page-content">
        {{ .Content }}
{{/*      <hr class="page-content-hr-bottom">*/}}
      <div class="page-content-divider-bottom">
        ---
      </div>
    </div>

    {{ partial "pagination-single.html" . }}

{{ end }}
